body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fractal {
  width: 70vw;
  height: 70vh;
}

#depthSlider {
  margin-top: 12px;
  width: 80vw;
}

#fractal-select {
  margin: 32px auto;
  width: 10%;
}

@media screen and (max-width: 600px) {
  #fractal-select {
    margin-top: 100px;
    width: 45%;
  }

  #fractal {
    margin-top: 32px;
    width: 95vw;
    height: 40vh;
  }
}

canvas {
  margin-top: 24px;
}
